body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  height: 100vh;
}

.tile-class {
  display: flex;
  flex-direction: column;
  margin: 1px;
}
