body {
  width: 100vw;
  height: 100vh;
  background-color: #a2cdd4;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: #f0f0c9;
  margin: auto;
  width: 35em;
  height: 35em;
  border: solid;
  border-width: 30px;
  border-color: #95190c;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.row {
  display: flex;
  flex-direction: row;
  border-radius: 30px;
}

#title {
  text-align: center;
  color: #00343d;
  font-size: 3.5em;
  margin: 1%;
}

.density-slider {
  background-color: #f0f0c9;
  padding: 14px;
  border-radius: 30px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type='range'] {
  accent-color: #00343d;
}

#density-text {
  text-align: center;
  margin: 5px;
}

.info-box {
  padding: 14px;
  display: flex;
  gap: 10px;
  background-color: #f0f0c9;
  border-radius: 30px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  line-height: 1.3em;
  height: 100px;
}

#info-box-sign {
  background-color: #cfcf9b;
  padding: 0.5em 1.5em;
  border-radius: 30px;
  display: flex;
  align-items: center;
  font-size: 1.3em;
}

.control-panel {
  display: flex;
  align-items: center;
  height: 180px;
  margin-bottom: 1em;
  gap: 10px;
}
